/AdvertisementManagement.Membership/bin
/AdvertisementManagement.Membership/obj
/AdvertisementManagement.Common/bin
/AdvertisementManagement.Common/obj
/AdvertisementManagement.Api/obj
/AdvertisementManagement.Api/bin
/AdvertisementManagement.Repository/obj
/AdvertisementManagement.Repository/bin
/AdvertisementManagement.Service/obj
/AdvertisementManagement.Service/bin
